body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: violet;
}

header h2 {
    color: light-blue;
}

.navbar {
    background-color: #901cad;
}

.jumbotron {
    margin: 0;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

footer {
    background-color: rgb(211, 207, 207);
    padding: 20px 0;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, purple, violet, pink);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}